body {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.flatpickr-weekdaycontainer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.emptyLife {
  border-style: solid;
  background: black;
  opacity: 0.3;
  height: 2px;
  width: 2px;
  border-radius: 1px;
}

.fullLife {
  border-style: solid;
  background: red;
  opacity: 1;
  height: 2px;
  width: 2px;
  border-radius: 1px;
}

.container {
  display: grid;
  grid-template-columns: repeat(52, 8px);
  grid-template-rows: repeat(80, 8px);
  gap: 1px;
  margin: 0 20px 20px 0;
  align-items: center;
  justify-items: center;
}
