body {
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div > input {
  margin-left: 8px;
}

.col-3 {
  min-width: 30%;
  padding: 20px;
}

.col-9 {
  min-width: 70%;
  padding: 20px;
}

#output {
  margin-top: 8px;
  font-size: 2rem;
  /* text-align: justify; */
}

/*********** DATE PICKER **********/
.flatpickr-grid {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.flatpickr-current-month {
  font-size: 100%;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.flatpickr-weekdaycontainer {
  display: flex;
  min-width: 100%;
}

/*********** CHART **********/
.emptyLife {
  background: #e1e1e1;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.fullLife {
  background: #f14f4f;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.col-9 > div {
  transform: translate(32px, 0px);
}

section > section {
  display: flex;
  flex-direction: row;
}

.y-axis {
  transform-origin: 0 0;
  transform: translate(4px, -248px) rotate(270deg);
}

.grid {
  display: grid;
  grid-template-columns: repeat(52, 6px);
  grid-template-rows: repeat(80, 6px);
  gap: 1px;
}
